html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	background: url('../images/background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	outline: none !important;
	background-size: cover;
	max-height: 100%;
	overflow: hidden;
}

.fullscreen-fade, .token-fade {
	width: 100%;
	display: none;
	height: 100%;
	z-index: 99998;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
}

.quickload-hide, .token-hide {
	top: 45px !important;
	opacity: 0 !important;
	transition: all 0.2s
}

.quickload-box, .token-box {
	width: 90%;
	max-width: 500px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.4);
	height: auto;
	position: absolute;
	top: 60px;
	text-align: center;
	z-index: 99999;
	left: 0;
	right: 0;
	margin: auto;
	transition: all 0.2s
}

.quickload-text, .token-text {
	width: calc(100% - 80px);
	resize: none;
	outline: none;
	margin-top: 30px;
	font-size: 14px;
	font-family: Circular;
	margin-bottom: 80px;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 10px;
	height: 200px;
}

.done-button {
	position: absolute;
	right: 30px;
	bottom: 20px;
	width: 100px;
	font-family: Circular;
	cursor: pointer;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 40px;
	color: white;
	background-color: #1E88E5;
	height: 40px;
	border-radius: 3px;
	transition: all 0.1s;
}

.done-button:hover {
	opacity: 0.8;
	transition: all 0.1s;
}

.disappear-fields {
	transform: scale(2);
	opacity: 0;
	transition: all 0.25s;
}

.login-fields {
	transition: all 0.25s;
}

.login-text {
	opacity: 0;
	transform: translateY(-20px);
	color: white;
	font-weight: 400;
	font-size: 14px;
	transition: all 0.25s;
}

.shown-text {
	opacity: 1;
	transition: all 0.25s;
	transform: translateY(0px);
}

.login-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	font-family: 'Circular';
	left: 0;
	z-index: 20;
	background-color: rgba(0,0,0,0.8);
	text-align: center;
	transition: all 0.25s;
}

.login-title {
	margin-top: 200px;
	color: white;
	font-weight: 600;
	font-size: 25px;
	text-align: center;
}

.login-input {
	text-align: center;
	font-family: 'Circular';
	font-weight: 500;
	font-size: 20px;
	border: none;
	outline: none;
	width: 300px;
	height: 40px;
	border-radius: 40px;
}

.favourites {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	font-family: 'Circular';
	left: 0;
	z-index: 20;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	transition: all 0.25s;
}

.favourites-box {
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: white;
	border-radius: 2px;
	overflow: hidden;
	transition: all 0.3s;
}

.favourite {
	text-align: left;
	padding-left: 20px;
	width: 100%;
	cursor: pointer;
	height: 40px;
	border-bottom: 1px solid lightgrey;
	transition: all 0.25s;
}

.favourite:hover {
	opacity: 0.6;
	transition: all 0.25s;
}

.fav-button {
	position: absolute;
	top: 7px;
	left: -10px;
	opacity: 0;
	width: 60px;
	height: 60px;
	text-align: center;
	transition: all 0.25s;
}

.fav-button:hover {
	opacity: 1;
	transition: all 0.25s;
}

.favourites-hidden {
	display: none;
	transition: all 0.25s;
}

.box-hidden {
	opacity: 0;
	transition: all 0.5s;
	transform: translateY(20px);
}

.link-hidden {
	opacity: 0;
	transition: all 0.25s;
	transform: translateY(30px);
}

.favourites-title {
	margin-top: 0;
	font-size: 18px;
	line-height: 40px;
	font-weight: 700;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 400px;
	white-space: nowrap;
	display: inline-block;
}

.pin {
	display: inline-block;
	font-weight: 300;
	font-size: 16px;
	color: grey;
}

.favourites-link {
	text-align: center;
	padding-top: 50px;
	transition: all 0.25s;
	cursor: pointer;
}

.favourites-link:hover {
	opacity: 0.8;
	transition: all 0.25s;
}

.no-login {
	margin: 50px auto;
	width: 50%;
	text-align: center;
}

.no-login-text {
	margin-top: 5px;
	font-size: 18px;
	font-weight: 500;
	color: #555;
}

.items {
	width: 100%;
	max-width: 1000px;
	text-align: center;
	outline: none !important;
	padding-top: 5%;
	position: relative;
	margin: 0 auto;
	transition: all 0.3s;
}

.hidden-top {
	transition: all 0.3s;
	opacity: 0;
	transform: translateY(-600px);
}

.topbar {
	position: relative;
	width: 100%;
	height: 60px;
	margin-top: 0px;
	border-bottom: 1px solid #212121;
	background-color: #424242;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.date {
	text-align: center;
	width: 50%;
	margin: 0 auto;
	user-select: none;
}

.day {
	user-select: none;
	font-weight: 500;
	color: white;
	margin: 0;
	padding-top: 6px;
}

.date-full {
	margin: 0;
	color: white;
	font-weight: 400;
	font-size: 13px;
	padding-top: -5px;
}

.left-arrow {
	position: absolute;
	left: 10px;
	top: 10px;
	transition: all 0.25s;
}

.left-arrow:hover, .right-arrow:hover {
	opacity: 0.6;
	transition: all 0.25s;
	cursor: pointer;
}

.right-arrow {
	position: absolute;
	right: 10px;
	top: 10px;
	transition: all 0.25s;
}

.up-arrow {
	display: none;
	position: absolute;
	top: 12px;
	margin: 0 auto;
	position: absolute;
	left: calc(50% - 20px);
	cursor: pointer;
	opacity: 1;
	transition: all 0.25s;
}

.up-arrow-hidden {
	opacity: 0;
	transform: translateY(30px);
}

.up-arrow:hover {
	opacity: 0.6;
	transition: all 0.25s;
}

.homework-description {
	font-weight: 400;
	font-size: 12px;
	width: 505px;
	transition: all 0.25s;
}

.expanded {
	transform: rotate(180deg);
}

.homework-item {
	user-select: none;
	width: 100%;
	position: relative;
	max-height: 70px;
	border-bottom: 1px solid lightgrey;
	transition: all 0.25s;
}

.expanded-item {
	max-height: 500px;
	transition: all 0.25s;
}

.detail-hidden {
	opacity: 0;
	transform: translateY(-20px);
	transition: all 0.25s;
}

.expand-arrow {
	position: absolute;
	right: 20px;
	top: 20px;
	cursor: pointer;
}

.homework-checkbox {
	cursor: pointer;
	position: absolute;
	top: 14px;
	left: 10px;
	width: 32px;
	height: 32px;
	border: 4px solid grey;
	display: inline-block;
	border-radius: 32px;
}

.homework-details {
	font-weight: 500;
	text-transform: capitalize;
	font-size: 14px;
	color: #444;
	margin-top: -10px;
}

.homework-subject {
	font-weight: 200;
	color: grey;
}

.homework-info {
	margin-left: 60px;
	max-width: 520px;
	display: inline-block;
}

.homework-title {
	font-weight: 500;
	font-size: 18px;
	width: 470px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

a {
	text-decoration: none;
	color: black;
}

.homework-title:hover {
	text-decoration: underline;
	cursor: pointer;
}

.homework-panel {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	font-family: 'Circular';
	position: absolute;
	bottom: 0;
	width: 90%;
	max-width: 600px;
	background-color: white;
	height: 90%;
	left: calc(50% - 300px);
	transition: all 0.3s;
}

.homework-body {
	height: calc(100% - 60px);
	overflow: auto;
	width: 100%;
}

a {
	outline: none !important;
}

.homework-hidden {
	transform: translateY(600px);
	transition: all 0.3s;
	opacity: 0;
}

.item {
	background-color: black;
	transition: all 0.25s;
	cursor: pointer;
	opacity: 0.7;
	outline: none !important;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	display: inline-block;
	width: 90%;
	max-width: 400px;
	height: 200px;
}

.youtube {
	background-image: url('../images/youtube.png');
	background-repeat: no-repeat;
	background-size: 40% auto;
	background-position: center; 
}

.canvas {
	position: relative;
	background-image: url('../images/canvas.png');
	background-repeat: no-repeat;
	background-size: 30% auto;
	background-position: center; 
}

.google {
	background-image: url('../images/google.png');
	background-repeat: no-repeat;
	background-size: 45% auto;
	background-position: center; 
}

.docs {
	background-image: url('../images/docs.png');
	background-repeat: no-repeat;
	background-size: 30% auto;
	background-position: center; 
}

.item:hover {
	opacity: 0.9;
	transition: all 0.25s;
}